<div class="container mx-auto mt-10">
    <h1 class="text-3xl font-bold mb-4">Weather Forecasting Options</h1>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <li>
            <a routerLink="/weather/LWX"
                class="block p-4 bg-blue-500 text-white rounded shadow hover:bg-blue-600 transition duration-300">
                District of Columbia Forecast (LWX)
            </a>
        </li>
        <li>
            <a routerLink="/weather/TOP"
                class="block p-4 bg-green-500 text-white rounded shadow hover:bg-green-600 transition duration-300">
                Kansas Forecast (TOP)
            </a>
        </li>
    </ul>
</div>